#top {
  text-align: center;
  margin: 0 0 16px 0;
}

button {
  color: white;
  background-color: #3333b5;
  border: 1px solid #3333b5;
  border-radius: 4px;
  width: 140px;
  height: 25px; 
  margin: 4px;
}

#container {
  width: 960px;
  margin: auto;
}

.squares {
  border: 1px solid black;
  float: left;
}

.more_squares {
  clear: right;
}
